

<div id='Content'>
<div class='right-one' id='wsm'>

    <img src='../../assets/img/Home.jpg' alt="صحتك مهمة">
  
  
  <div class='Show-Post'>
    <a routerLink='/home' >منشورات المعلومات الطبية</a>
  
  
    <a style='margin-top: 20px;color:#fff;background:#487fb0;'>منشورات الأمراض</a>
  
  
  </div>
  
   
  </div>


<div class='left-one' id='res'>
    <div class='both' id='One'>
     
    <div class='posts'>
     <div><a class='Main-Title'>صفحة الأمراض والفيروسات</a></div>
    
    <div class='post-block' id='post-block' dir='rtl'>
    
      <div class='Post' id='rsp'>
        <div class='post-content'>
          
<div class='Title'><a>عنوان المقالة</a></div>
<div class='summary'><textarea disabled>يُصنّف مرض الكوليرا (بالإنجليزية: Cholera) ضمن الأمراض البكتيريّة الحادة وشديدة العدوى، والذي يصيب أمعاء الإنسان نتيجة التعرّض لأحد أنواع البكتيريا المعروفة بضمة الكوليرا (بالإنجليزية: Vibrio cholerae) عن طريق تناول الطعام أو شرب الماء الملوث بها، ويقدّر عدد حالات الإصابة بمرض الكوليرا سنوياً بما يقارب ثلاثة إلى خمسة ملايين حالة، منها ما يزيد عن مئة ألف حالة وفاة. غالباً ما تكون الإصابة بالمرض بسيطة وقد لا يصاحبها ظهور أيّ أعراض، ولكن في بعض الحالات قد تكون الأعراض شديدة، وتُقدّر نسبة الحالات الشديدة بما يُقارب 10%، وتتمثل مثل هذه الحالات بالإصابة بالإسهال المائي الغزير، والتقيؤ، وتشنّجات الساقين، ولعلّ هذا ما يتسبب بفقدان سريع لسوائل الجسم وإصابة المريض بالجفاف (بالإنجليزية: Dehydration)، وفي حال عدم علاج المريض واتخاذ الإجراءات الطبيّة اللازمة خلال مدة زمنيّة قصيرة فإنّ ذلك قد يؤدي إلى وفاة المصاب، ويجدر التنبيه إلى أنّ المرض يكون أكثر انتشاراً في المناطق التي تفتقر لوجود نظام نظافة صحيّ، وفي مناطق الحروب والمجاعات أيضاً.[١][٢
</textarea></div>
</div>
      
      
<div class='under'>
 <div class='edit'><a href="#Add-Dises" uk-toggle><img style='height: 16px;
 padding-bottom: 2px;' src='../../assets/Icon/2.png' /></a></div>
<div class='remove'><a  href="#remove-post" uk-toggle><img src='../../assets/Icon/1.png' /></a></div>
 <button class='Show' ><a href="#Show-Post-Button" uk-toggle>عرض</a></button>
          
      
      
          </div>
          
          
          
          
            </div>
           
      
       
                 
    </div>



    <!--تعديل المنشور-->
    <div id="Edit-Post" class="uk-flex-top" uk-modal></div>
    
    <!--عرض المنشور-->
    
    <div id="Show-Post-Button" class="uk-flex-top" uk-modal>
      <div id='more-icon'>
      <div class='remove1'><a href="#remove-post" uk-toggle><h1>حذف المنشور</h1><img src='../../assets/Icon/1.png' /></a></div>
      <div class='edit1'><a href="#Add-Dises" uk-toggle><h1>تعديل المنشور</h1><img style='height: 18px;
        padding-bottom: 2px;
        margin-left: 5px;
        margin-top: 4px;' src='../../assets/Icon/2.png' /></a></div>
    </div>
    
    
          <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
            
          <button class="uk-modal-close-default" type="button" uk-close></button>
          <div class='Title' style='border:none;margin-top: -20px;margin-bottom: 5px;'><a style='color:#487fb0;font-family: FC-M;'>عنوان المقالة</a></div>
      
          <div id='post-content-show' dir='rtl'><a class='desc'>نبذة عن المرض</a>

              <p class='ph'>
                  يُصنّف مرض الكوليرا (بالإنجليزية: Cholera) ضمن الأمراض البكتيريّة الحادة وشديدة العدوى، والذي يصيب أمعاء الإنسان نتيجة التعرّض لأحد أنواع 
                  البكتيريا المعروفة بضمة الكوليرا (بالإنجليزية: Vibrio cholerae) عن طريق تناول الطعام أو شرب الماء الملوث بها، ويقدّر عدد حالات الإصابة بمرض الكوليرا سنوياً بما يقارب ثلاثة إلى خمسة ملايين حالة، منها ما يزيد عن مئة ألف حالة وفاة. غالباً ما تكون الإصابة بالمرض بسيطة وقد لا يصاحبها ظهور أيّ أعراض، ولكن في بعض الحالات قد تكون الأعراض شديدة، وتُقدّر نسبة الحالات الشديدة بما يُقارب 10%، وتتمثل مثل هذه الحالات بالإصابة بالإسهال المائي الغزير، والتقيؤ، وتشنّجات الساقين، ولعلّ هذا ما يتسبب بفقدان سريع لسوائل الجسم وإصابة
                
                
                
                </p>
      
      <div class='Symptoms'>
       <a>الأعراض</a>

        <ul type="disc" style='color: #477084;'>

            <li><a>الشعور بالغثيان</a></li>
            <li><a>الاصابة بالاسهال القوي</a></li>
            <li><a>الدوار المستمر</a></li>

        </ul>

      </div>

      <div class='protection'>
        <a>الوقاية</a>

        <ul type="disc" style='color: #477084;'>
        <li><a>تجنب ملامسة المصابين بالمرض</a></li>
        <li><a>غسل الصحون واليدين جيداً قبل وبعد الاكل</a></li>
        <li><a>عدم الشراء من الباعة المتجولين</a></li>
    </ul>
      </div>

      <div class='treatment'>

        <a>العلاج</a>
        <ul type="disc" style='color: #477084;'>

            <li><a>مراجعة الطبيب في حال ظهور الاعراض</a></li>
            <li><a>استعمال الادوية المناسبة للعلاج من المرض</a></li>
        </ul>
      </div>
      
      
      
      
            </div>
      
      
      
      
      
          </div>
    </div>
      
    
    <!--حذف المنشور-->
    <div id='remove-post' class="uk-flex-top" uk-modal>

      <div class="uk-modal-dialog uk-modal-body">
    
        <div class="uk-modal-header" style='border:none;'>
          <h2 class="uk-modal-title" style='font-family: FC;text-align: center;'>هل تود حذف المنشور</h2>
        </div>
        <div class="uk-modal-footer uk-text-right" style='margin-top: 20px;padding: unset;border: none;'>
          <button class="uk-button uk-button-default uk-modal-close" type="button">رجوع</button>
          <button class="uk-button uk-button-danger" type="button">حذف</button>
      </div>
    </div>
    
    
    </div>
    
    
    </div>
    
    
    <button class='show-more' id='brs' (click) = "showMore()"><a>عرض المزيد</a></button>
    
    </div>
    
    <div class="res-button" style='display:none;' id='show-at'><button (click)="showLess()" class="show-less" id="b2rs" style="display: block;"><a _ngcontent-yfv-2="">عرض أقل</a></button></div>
    
    
    
    </div>
</div>
