<nav class="uk-navbar-container" uk-navbar="mode: click">
    <div class="uk-navbar-right">

      <ul class="uk-navbar-nav">
          <li class="uk-active"><a routerLink='/home'>الرئيسية</a></li>
          <li><a href="#Add-Dises" uk-toggle>اضف مرض أو فايروس</a></li>
          <li><a href="#Add-Note" uk-toggle>اضف معلومة طبية عامة</a></li>

      </ul>

  </div>

  
  <div class="uk-navbar-left">
   <img style='margin-left: 15px;' height='250px' width='60px' src='../../assets/Logo/Blue.svg' alt="صحتك مهمة">
  </div>
</nav>

<!--اضافة معلومة طبية-->

<div id="Add-Note" class="uk-flex-top" uk-modal>


  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        
    <button class="uk-modal-close-default" type="button" uk-close></button>

    <div id='container' style='text-align: center;font-size: 2vw;'>

      <a>أضف معلومة طبية</a>
    
    </div>  
    
<div class='add-group'>

    <div class='add-3'>

      <a style='line-height: 2;'>عنوان المعلومة</a>
      
  
      <textarea id='HG'  class="uk-textarea" rows="1" placeholder="اكتب عنوان المعلومة"></textarea>
  
    </div>
  
    <div class='add-3' >
  
      <a style='  line-height: 10;'>وصف المعلومة</a>
      
  
      <textarea id='HG' class="uk-textarea" rows="8" placeholder="اكتب هنا وصف عن المعلومة"></textarea>
  
    </div>


  </div>


  <div class='photo-g'>

   <div class='add-ph'>

    <a>أضف صورة</a>
   </div>



   

  </div>




  <div class='submitd1'>
    <input type="button" value="نشر">
    </div>
    

</div>




</div>


<!--اضافة منشور مرض او فايروس-->

<div id="Add-Dises" style='padding: 2vw;' dir='rtl' class="uk-flex-top" uk-modal>

<div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical2">
        
<button class="uk-modal-close-default" type="button" uk-close></button>

<div id='container'>

  <a>أضف مرض أو فيروس</a>

</div>  


<div class='right-one'>


  <div class='add-2' style='height: 30px;margin-right: 7px;'>

    <a style='line-height: 2;'>اسم المرض</a>
    

    <textarea class="uk-textarea" rows="1" placeholder="اكتب اسم المرض"></textarea>

  </div>

  <div class='add-2' >

    <a>وصف المرض</a>
    

    <textarea class="uk-textarea" rows="8" placeholder="اكتب هنا وصف قصير عن المرض"></textarea>

  </div>



</div>
 

<div class='left-one'>


  <div class='add-1' >

    <a>الأعراض</a>
  
  <div class='body' style='margin-top: 0;'>
  
  <div class='content-body' dir='rtl'>

    <input type="text" id="add" name="اضف اختيار" placeholder='اكتب هنا احد الاعراض'>

    <input type="text" id="add" name="اضف اختيار" placeholder='اكتب هنا احد الاعراض'>

    <input type="text" id="add" name="اضف اختيار" placeholder='اكتب هنا احد الاعراض'>

    <input type="text" id="add" name="اضف اختيار" placeholder='اكتب هنا احد الاعراض'>

    <input type="text" id="add" name="اضف اختيار" placeholder='اكتب هنا احد الاعراض'>

    <input type="text" id="add" name="اضف اختيار" placeholder='اكتب هنا احد الاعراض'>

    <input type="text" id="add" name="اضف اختيار" placeholder='اكتب هنا احد الاعراض'>

    <input type="text" id="add" name="اضف اختيار" placeholder='اكتب هنا احد الاعراض'>

    <input type="text" id="add" name="اضف اختيار" placeholder='اكتب هنا احد الاعراض'>

    <input type="text" id="add" name="اضف اختيار" placeholder='اكتب هنا احد الاعراض'>


  </div>
  
  </div>
  
  
  </div>
  

  
  <div class='add-1' >

    <a>الوقاية</a>
  
  <div class='body' style='margin-top: 0;'>
  
  <div class='content-body' dir='rtl'>

    <input type="text" id="add" name="اضف اختيار" placeholder='اكتب هنا احد طرق الوقاية'>
    <input type="text" id="add" name="اضف اختيار" placeholder='اكتب هنا احد طرق الوقاية'>
    <input type="text" id="add" name="اضف اختيار" placeholder='اكتب هنا احد طرق الوقاية'>
    <input type="text" id="add" name="اضف اختيار" placeholder='اكتب هنا احد طرق الوقاية'>
    <input type="text" id="add" name="اضف اختيار" placeholder='اكتب هنا احد طرق الوقاية'>
    <input type="text" id="add" name="اضف اختيار" placeholder='اكتب هنا احد طرق الوقاية'>
    <input type="text" id="add" name="اضف اختيار" placeholder='اكتب هنا احد طرق الوقاية'>
    <input type="text" id="add" name="اضف اختيار" placeholder='اكتب هنا احد طرق الوقاية'>
    <input type="text" id="add" name="اضف اختيار" placeholder='اكتب هنا احد طرق الوقاية'>
    <input type="text" id="add" name="اضف اختيار" placeholder='اكتب هنا احد طرق الوقاية'>



  </div>
  
  </div>
  
  
  </div>
  
  
  <div class='add-1' >

    <a>العلاج</a>
  
  <div class='body' style='margin-top: 0;'>
  
  <div class='content-body' dir='rtl'>

    <input type="text" id="add" name="اضف اختيار" placeholder='اكتب هنا احد طرق العلاج'>
    <input type="text" id="add" name="اضف اختيار" placeholder='اكتب هنا احد طرق العلاج'>
    <input type="text" id="add" name="اضف اختيار" placeholder='اكتب هنا احد طرق العلاج'>
    <input type="text" id="add" name="اضف اختيار" placeholder='اكتب هنا احد طرق العلاج'>
    <input type="text" id="add" name="اضف اختيار" placeholder='اكتب هنا احد طرق العلاج'>
    <input type="text" id="add" name="اضف اختيار" placeholder='اكتب هنا احد طرق العلاج'>
    <input type="text" id="add" name="اضف اختيار" placeholder='اكتب هنا احد طرق العلاج'>
    <input type="text" id="add" name="اضف اختيار" placeholder='اكتب هنا احد طرق العلاج'>
    <input type="text" id="add" name="اضف اختيار" placeholder='اكتب هنا احد طرق العلاج'>
    <input type="text" id="add" name="اضف اختيار" placeholder='اكتب هنا احد طرق العلاج'>



  </div>
  
  </div>
  
  
  </div>
  



</div>






<div class='submitd'>
  <input type="button" value="نشر">
  </div>
  



</div>

  </div>

